<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pikaphu.android.project.sqlitedb"
    android:versionCode="1"
    android:versionName="1.1">

    <application
        android:allowBackup="true"
        android:windowSoftInputMode="adjustResize"
        android:icon="@drawable/ic_launcher"
        android:label="ContactApp"
        android:title="ContactApp"
        android:theme="@style/AppTheme" >
        <!-- "@string/app_name" -->
        <activity
            android:name="pikaphu.android.project.sqlitedb.SQLiteDBActivity"
            android:label="ContactApp" >
            <!-- .SQLiteDBActivity -->
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
